<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />

    </sectionGroup>

    <section name="linq2db" type="LinqToDB.Configuration.LinqToDBSection, linq2db" requirePermission="false" />
    <section name="SeccionVentanas" type="CustomConfigExample.SeccionVentanas, Ventanas" requirePermission="false" />
  </configSections>
  <linq2db defaultConfiguration="PostgreSQL" />

  <SeccionVentanas>

  </SeccionVentanas>

  <appSettings>
    <add key="Libreria" value="MotorPostgreSql" />
    <add key="Clase" value="MotorPostgreSql.DAO" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <connectionStrings>
    <add name="SqlServer"        connectionString="Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" providerName="SqlServer" />
    <add name="SqlServer.2012"   connectionString="Server=DBHost\SQLSERVER2012;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
    <add name="SqlServer.2012.1" connectionString="Server=DBHost\SQLSERVER2012;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
    <add name="SqlServer.2008"   connectionString="Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
    <add name="SqlServer.2008.1" connectionString="Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
    <add name="SqlServer.2005"   connectionString="Server=DBHost\SQLSERVER2005;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
    <add name="SqlServer.2005.1" connectionString="Server=DBHost\SQLSERVER2005;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
    <add name="SqlServer.2000"   connectionString="Server=DBHost2008\SQLSERVER2000;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
    <add name="Access"           connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Database\TestData.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True" />
    <add name="Access.Data"      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\..\..\Data\TestData.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True" />
    <add name="DB2"              connectionString="Server=DBHost:50000;Database=TESTDATA;UID=Administrator;PWD=TestPassword;" providerName="IBM.Data.DB2" />
    <add name="Firebird"         connectionString="DataSource=DBHost;Database=C:\Data\TestData.fdb;User Id=SYSDBA;Password=masterkey" />
    <add name="Informix"         connectionString="Host=DBHost;Service=9088;Server=ol_informix1170;Protocol=onsoctcp;Database=TestData;UID=informix;PWD=TestPassword;" providerName="IBM.Data.Informix" />
    <add name="MySql"            connectionString="Server=DBHost;Port=3306;Database=testdata;Uid=root;Pwd=TestPassword;charset=utf8;" providerName="MySql.Data.MySqlClient" />
    <add name="Oracle"           connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DBHost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TestData)));User Id=TestUser;Password=TestPassword;" providerName="Oracle.DataAccess.Client" />
    <add name="PostgreSQL"       connectionString="Server=25.92.143.78;Port=5432;Database=isp;User Id=postgres;Password=temporal;Pooling=true;MinPoolSize=1;MaxPoolSize=100;Protocol=3;" providerName="Npgsql" />
    <add name="SqlCe"            connectionString="Data Source=Database\TestData.sdf" />
    <add name="SqlCe.Data"       connectionString="Data Source=..\..\..\..\Data\TestData.sdf" />
    <add name="SQLite"           connectionString="Data Source=Database\TestData.sqlite" />
    <add name="SQLite.Data"      connectionString="Data Source=..\..\..\..\Data\TestData.sqlite" />
    <add name="Sybase"           connectionString="Data Source=DBHost2008;Port=5000;Database=TestData;Uid=sa;Password=TestPassword;" providerName="Sybase.Data.AseClient" />
    <add name="Northwind"        connectionString="Server=DBHost\SQLSERVER2012;Database=Northwind;User Id=sa;Password=TestPassword" providerName="System.Data.SqlClient" />

    <add name="Principal" connectionString="Server=25.92.143.78;Port=5432;User Id=postgres;Password=temporal;Database=isp;Pooling=true;" />

    <!--<add name="Principal" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=temporal;Database=prueba;Pooling=true;"/>-->
  </connectionStrings>

  <userSettings>
    <WindowsApp.Properties.Settings>
      <setting name="BarraLogoVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BarraMenuLateralVisible" serializeAs="String">
        <value>True</value>
      </setting>
    </WindowsApp.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>


</configuration>